@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// $color-white: ;
// $color-orange: ;
// $color-light: ;

// $bg-color-dark: ;
// $bg-color-light: ;

// $font-link:  ;
// $font-heading: ;
// $font-fancy:  ;
// $font-pera:  ;

$Inter: "Inter", sans-serif;
// $font-semibold: ;
// $font-bolder: ;

// @mixin heading1 {

// }

.imgbox_full,
.imgbox{
    width: 100%;
    height: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}

.imgbox_full{
    height: 100%;
    img{
        height: 100%;
        object-fit: cover;
    }
}
